*{
	margin: 0;
	padding: 0;
}
.link { color: #000000; font-size: 14px; margin:10px;} /* CSS link color (red) */
.link:hover { color: #0F0F0F; } /* CSS link hover (green) */
html {
	scroll-behavior: smooth !important;
}
.body-bg-fixed{
	background-image: url('static/background.png');
	background-attachment: scroll;
}
.layer{
	background: rgba(255,255,255,0.5);
}
.nav-link{
	color: black !important;
}
.nav-item{
	margin:30px 30px !important;
}
.card{
	width: 100% !important;
	text-align: center;
	padding: 0;
	margin:0;
	border:1px solid transparent !important;
	background:transparent !important;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;

	
}
.card:hover{
	overflow: hidden !important;
	border:1px solid grey !important;
	transform: scale(1.3);
	transition: transform .5s ease-out;
}

.mymodal{
	overflow: hidden !important;
	position: relative;
}



#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff url('static/loading-small.gif') no-repeat center center;
	background-size: 70%;
	z-index: 9999;
}
.card-img-top{
	width: 50% !important;
	align-self: center;
	margin-top:20px;
}
.card-title{
	font-size: 16px;
}

.navbar-nav{
	margin-left: 24%;
	padding: auto;
}
.navbar{
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	border-bottom: 5px solid dodgerblue;
	position: fixed !important;
	top:0;
	width: 100%;
	z-index: 100;
	transition: top 0.5s !important;
}
.header{
	padding:20px;
	font-weight: bold;
	border-bottom:2px solid grey;
}
.body{
	padding:90px 0;
}
h2{
	text-align: center;
	font-weight: bolder !important;
	padding: 20px !important;
}
.signin-login{
	background-color: orangered;
	border: none;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.signin-login:hover{
	background-color: red !important;
	transform:scale(1.1);
	transition: transform 0.5 ease;
}
.login-forgot{
	color:black;
}
.center{
	margin:auto !important;
}
.clear-bg{
	background: transparent !important;
}
.carousel{
	height: 100%;
	overflow: hidden;
}
.gallery{
	width: 100% !important;
	height:auto;
}
.cardmargin{
	padding: 0%; 
	align-self: center;
	margin:2% 0 !important;
}


td{
	padding: 10px !important;
	text-align: center;
}
.spacing{
	right: 40px;
	padding:20px;
	align-self: right;
}

.framespace{
	display: flex !important;
	justify-content:center !important;
	width: 100%;
}

}

.darkbg{
	background-color: rgb(50,50,50) !important;
	border-radius: 0px !important;
}

.navlogo {
	width=60%;
	background-color: white;
	color: white;
}


.imglogo{
	display: block;
	max-width: 20%;
	min-height: 40px;
	min-width: 200px;
	margin:0 auto;
}

.btn-primary,  .btn-primary:active, .btn-primary:visited {
	background-color: MAROON !important;
	border-color: black !important;
	border-radius: 0 !important;

}
.srch::placeholder{
	font-weight: bold;
	color:black !important; 
}
.srch{
	background:transparent !important; 
	border:none !important;
	border-bottom: 4px solid maroon !important;
	border-radius: 0px !important;
	width: 187px !important;
	background:url("static/search.png") !important;
	background-position: 155px 2px !important;
	background-size: 30px !important;
	background-repeat: no-repeat !important;
	padding-right: 40px !important;
}
.btn-primary:hover{
	background-color: tomato !important;
}
.booking{
	margin:auto;
	margin-top: 120px;
	padding: 60px;
	width: 60%;
	background: url("static/paper.jpg");
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);

}
.booking input{
	margin: 15px;
	margin-left: 0;
	padding:10px 20px;
	width: 100%;
	border: none;
	border-radius: 200px;
	font-size: 18px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.booking select{
	margin: 15px;
	margin-left: 0;
	padding:10px 20px;
	width: 95%;
	border: none;
	border-radius: 200px;
	font-size: 18px;
	outline: none;
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


.booking input:focus {
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
}
.booking h4{
	color:#b3b3b3;
}
.booking input[type=checkbox]{
	box-shadow: none;
	width: auto;
	transform: scale(1.5);
}
.booking label{
	margin-left: 0;
	color: grey;
}
.profile{

	background-repeat: no-repeat;
	height: auto;
	width: 100%;

	}
.profilebg{
	overflow: hidden;
		bottom: 20%;
		width: 100%;
		position: absolute;
		-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);
		z-index:-1;
}
.dp{
	border-radius:200px ;
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	width: 230px;
	margin: 30px;
}
.el-1{

	width: 33%;
	padding-top: 150px;
	margin-bottom: 100px;
	text-align: center;
	float: left;
}
.el-2{
	width: 33%;
	float: left;
	text-align: center; 

}
.el-3{
	width: 33%;
	float: left;
}
.editp{
	background: 
	width:33%;
	padding-top: 150px;
	padding-left: 5%;
}
.edit-info{
	padding-left: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.edit-info h3{
	margin-top:3%;
}
.clear
{
	clear: both;
}
.edit-info1{
	float: left;
	width: 33%;
}
.edit-info1 img{
	width: 10%;
}
.edit-info1 input{
	outline: none;
	padding:5px 20px;
	margin-left: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 80%;
	border:1px solid lightgrey;
	border-radius: 40px;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}
.edit-info1 input:hover {
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	border: 1px solid grey;
}
.edit-info1 input:focus {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
input[type=radio]{
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;
	transform:scale(1.8);
}
input[type=radio]:hover{

	transform:scale(2);
}
label{
	margin-left: 15px;
}
.form-check{
	margin: 15px;
}
.center{
	margin:auto;
}

.el-2, .el-3{
	margin-top:260px; 

}
.pro-btn{
	border:none;
	background:white;
	margin:20px;
	font-size:20px;
	padding: 10px 30px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}
.pro-btn:hover{
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	transform:scale(1.1);
	transition: transform 0.4 ease;
}
.pattern{
	background-image: url("static/seamless.jpg");
	display: block;

}
.info-width{
	width: 90% !important;
	height: 200px;
	padding: 20px !important;
	background: transparent;
}
.table-contain{
	background: white !important;
	padding: 10%;
	margin:10%;
	margin-top: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}
.table-contain:hover{
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	transform:scale(1.1);
	transition: transform 0.4 ease;

}

.info-width td{
	vertical-align: top;
	text-align: left;
	padding: 0 !important;
	margin:0 !important;

}
.tableheader{
	text-align: left !important;
	height: 20px !important;
	padding-bottom: 0!important;
	padding-left: 50px !important;
}
table{

	background-color:#D0D3D4; 
	height: 100%;

}
.edit-icon{
	display: flex; 
	width: 60px; 
	position: relative; 
	bottom: 130px; 
	left: 220px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;

}
.edit-icon:hover{
	transform: scale(1.2);
}
.login {
	height:auto !important;
	padding: 2%;
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
}
.login-input{
	padding: 10px !important;
	width: 240px;
}
.btn-round{
	width: 200px !important;
	border-radius: 100px !important;
}
.form-input{
	background: lightgrey !important;	
}
.site-footer
{
	background-color:#26272b;
	padding:45px 0 20px;
	font-size:15px;
	line-height:24px;
	color:#737373;
	margin-top:50px;
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
}
.site-footer hr
{
	border-top-color:#bbb;
	opacity:0.5
}
.site-footer hr.small
{
	margin:20px 0
}
.site-footer h6
{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	letter-spacing:2px
}
.site-footer a
{
	color:#737373;
}
.site-footer a:hover
{
	color:#3366cc;
	text-decoration:none;
}
.footer-links
{
	padding-left:0;
	list-style:none
}
.footer-links li
{
	display:block
}
.footer-links a
{
	color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
	color:white;
	text-decoration:none;
}
.footer-links.inline li
{
	display:inline-block
}
.site-footer .social-icons
{
	text-align:right
}
.site-footer .social-icons a
{
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:6px;
	margin-right:0;
	border-radius:100%;
	background-color:#f06292;
}
.copyright-text
{
	margin:0
}
@media (max-width:991px)
{

	.site-footer [class^=col-]
	{
		margin-bottom:30px
	}
}
@media (max-width:767px)
{

	.pattern{
		
	}
	.align-btn td{
		padding: 0 !important;

	}
	.pro-btn{
		margin:0px !important;
	}
	.site-footer
	{
		padding-bottom:0
	}
	.site-footer .copyright-text,.site-footer .social-icons
	{
		text-align:center
	}
}
.social-icons
{
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.social-icons li
{
	display:inline-block;
	margin-bottom:4px
}
.social-icons li.title
{
	margin-right:15px;
	text-transform:uppercase;
	color:#96a2b2;
	font-weight:700;
	font-size:13px
}
.social-icons a{

	background-color:white;
	color:white;
	font-size:16px;
	display:inline-block;
	line-height:44px;
	width:44px;
	height:44px;
	text-align:center;
	margin-right:8px;
	border-radius:100%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
	color:white;
	background-color:#3F729B
}
.social-icons.size-sm a
{
	line-height:34px;
	height:34px;
	width:34px;
	font-size:14px;

}
.social-icons a.facebook
{
	background-color:#3b5998
}

.social-icons a.twitter
{
	background-color:#00aced
}
.social-icons a.quora:hover
{
	background-color:#f06292;
}
.social-icons a.linkedin
{
	background-color:#007bb6
}

@media (max-width:767px)
{
	.el-1, .el-2, .el-3{
		width:100% !important; 
	}
	.el-2, .el-3{
		margin-top: 10%;
	}

	.social-icons li.title
	{
		display:block;
		margin-right:0;
		font-weight:600
	}
}

.col1{
	width: 25%;
	padding:2% 7%;    
	float: left;
}
.first-column {
	width: 70%;
	padding: 0 100px 0 0;
	float: left;
}
.col50{
	width: 50% !important;
	float: left;

}

.second-column {
	width: 30%;
	padding: 0 10px 0 0;
	float: right;
}



@media only screen and (max-width:992px){
	.booking select{
		width: 100%;
	}
	.align-btn td{


	}
	.pro-btn{
		padding: 10px 20px !important;
		margin:5px !important;
		font-size: 14px !important;
	}
	.h3c{
		font-size: 16px !important;
	}
	.col50{
		width: 100% !important;

	}
	.login{
		margin:10% !important;
		margin-bottom: 0% !important;
		background: white !important;
	}
	.close-div{
		display: none;
		width: 0 !important;
	}
	.navbar-nav{
		margin-left: 0% !important;}
		.row{
			width:100% !important;
		}
		.nav-item{
			margin:0px !important;
		}
		.first-column {
			width: 100%;
			padding: 10px;
			padding-left: 40px; 
			float: none;
		}

		.second-column {
			width: 100%;
			padding: 10px;
			padding-left: 40px;
			float: none;
		}
		.col1{
			width: 33%;
		}


	}

	@media only screen and (min-width: 993px){
		.spacing{
			position: absolute;
		}
		.cardmargin{
			width: 100%;
		}
		td{
			padding: 0px !important;
			margin:0px !important;
		}
		.login{
			margin-top:5% !important;
			margin-left:25% !important;
			margin-right:25% !important;
			background: white;
		}
	}

	@media (max-width: 576px) { 
		.booking{
			width: 90%;
		}
		input[type=radio]{
			transform: scale(1.3);
		}
		input[type=radio]:hover{
			transform: scale(1.5);
		}
		.dp-center{
			margin: auto;
		}
		.edit-icon{
			left:65%;
		}
		.editp{
			width: 100%;
			padding-left: 0;
		}

		.edit-info1{
			width: 100%;
		} 
		.el-1{
			padding-top: 100px;
		}
		.profile{
			background-size: 300%;
		}
		.pattern1{
			background: url('static/background-mobile.jpg') !important;
			background-attachment: fixed !important;
			background-size: 95% !important;
		} 
		.link{font-size: 12px; }
		.xs {color:red;font-weight:bold;}
		.card{width: 100% !important;}
		.h5{font-size: 5px !important;}
		.table{width: 50% !important;}
		.link{font-size: 10px !important;}
		td{padding: 2px !important;}
		table{margin:0px 0px !important;}

	}

	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) and (max-width:768px) { 
		.booking{
			width: 80%;
		}
		.edit-info h3{
			margin-top:10%;
		}
		.edit-info1{
			width: 50%;
		} 
		.profile{
			background-size: 180%;
		}
		.sm {color:red;font-weight:bold;}
		.card{width: 100% !important;}

	}

	/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
	@media (min-width: 768px) and (max-width:992px) {  
		.booking{
			width: 70%;
		}
		.md {color:red;font-weight:bold;}
		.card{width: 100% !important; font-size: 10px !important;}
	}

	/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) and (max-width:1200px) { 
		.pro-btn{
			font-size: 16px !important;
			margin:10px;
		}
		.h3c{
			font-size:20px !important; 
		}
		.lg {color:red;font-weight:bold;}
		.card{width: 100% !important; font-size: 10px !important;}
	}

	/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {  
		.xl {color:red;font-weight:bold;}
		.card{width: 100% !important; font-size: 10px !important;}
		.body{
			padding:0 2%;
			padding-top:8%; 
			margin-bottom: 4%;
		}

	}
