*{
	margin: 0;
	padding: 0;
}
.link { color: #000000; font-size: 14px; margin:10px;} /* CSS link color (red) */
.link:hover { color: #0F0F0F; } /* CSS link hover (green) */
html {
  scroll-behavior: smooth !important;
}
.nav-link{
	color: black !important;
}
.nav-item{
	margin:30px 30px !important;
}
.card{
	width: 100% !important;
	text-align: center;
	padding: 0;
	margin:0;
	border:none !important;
	background:transparent !important;
	
}

.mymodal{
	overflow: hidden !important;
	position: relative;
}



#loading {
position: fixed;
width: 100%;
height: 100vh;
background: #fff url('https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif') no-repeat center center;
background-size: 70%;
z-index: 9999;
}
.card-img-top{
	width: 50% !important;
	align-self: center;
	margin-top:20px;
}
.card-title{
	font-size: 16px;
}

.navbar-nav{
	margin-left: 24%;
	padding: auto;
}
.navbar{
	-webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
	border-bottom: 5px solid dodgerblue;
	position: fixed !important;
	top:0;
	width: 100%;
	z-index: 100;
	transition: top 0.5s !important;

}
.header{
	padding:20px;
	font-weight: bold;
	border-bottom:2px solid grey;
}
.body{
	padding:90px 0;
}
.carousel{
	height: 100%;
}

.cardmargin{
	padding: 0%; 
	align-self: center;
	margin:2% 0 !important;
}


td{
	padding: 10px !important;
	text-align: center;
}
.spacing{
	right: 40px;
	padding:20px;
	align-self: right;
}

.framespace{
	display: flex !important;
	justify-content:center !important;
	width: 100%;
}

}

.darkbg{
	background-color: rgb(50,50,50) !important;
	border-radius: 0px !important;
}

.navlogo {
	width=60%;
	background-color: white;
	color: white;
}


.imglogo{
	display: block;
	max-width: 20%;
	min-height: 40px;
	min-width: 200px;
	margin:0 auto;
}

.btn-primary,  .btn-primary:active, .btn-primary:visited {
    background-color: MAROON !important;
    border-color: black !important;
    border-radius: 0 !important;
    
}
input::placeholder{
	font-weight: bold;
	color:black !important; 
}
input{
	background:transparent !important; 
	border:none !important;
	border-bottom: 4px solid maroon !important;
	border-radius: 0px !important;
	width: 145px !important;
	background:url("static/search.png") !important;
	background-position: 115px 2px !important;
	background-size: 30px !important;
	background-repeat: no-repeat !important;
}
.btn-primary:hover{
	background-color: tomato !important;
}
table{

	background-color:#D0D3D4; 
	height: 100%;

}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top:50px;
  -webkit-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
-moz-box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
box-shadow: -1px 0px 16px 2px rgba(92,86,92,1);
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#f06292;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{

  background-color:white;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:white;
  background-color:#3F729B
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;

}
.social-icons a.facebook
{
  background-color:#3b5998
}

.social-icons a.twitter
{
  background-color:#00aced
}
.social-icons a.quora:hover
{
	background-color:#f06292;
}
.social-icons a.linkedin
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.col1{
	width: 25%;
	padding:2% 7%;    
    float: left;
}
.first-column {
    width: 70%;
    padding: 0 100px 0 0;
    float: left;
}

.second-column {
    width: 30%;
    padding: 0 10px 0 0;
    float: right;
}



@media only screen and (max-width:992px){
	.navbar-nav{
	margin-left: 0% !important;}
	.row{
		width:100% !important;
	}
	.nav-item{
		margin:0px !important;
	}
	.first-column {
        width: 100%;
        padding: 10px;
        padding-left: 40px; 
        float: none;
    }

    .second-column {
        width: 100%;
        padding: 10px;
        padding-left: 40px;
        float: none;
    }
    .col1{
    	width: 33%;
    }


}

@media only screen and (min-width: 993px){
	.spacing{
		position: absolute;
	}
	.cardmargin{
		width: 100%;
	}
	td{
		padding: 0px !important;
		margin:0px !important;
	}
}

@media (max-width: 576px) {  
	.link{font-size: 12px; }
  .xs {color:red;font-weight:bold;}
   .card{width: 100% !important;}
   .h5{font-size: 5px !important;}
   .table{width: 50% !important;}
   .link{font-size: 10px !important;}
   td{padding: 2/px!important;}
      table{margin:0px 0px !important;}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
   .card{width: 100% !important;}

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .md {color:red;font-weight:bold;}
 .card{width: 100% !important; font-size: 10px !important;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .lg {color:red;font-weight:bold;}
 .card{width: 100% !important; font-size: 10px !important;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
    .card{width: 100% !important; font-size: 10px !important;}
    .body{
    	padding:0 2%;
    	padding-top:8%; 
    	margin-bottom: 4%;
    }

}
