{% extends "base.html"%}
{% load static from static %}
{% block content %}

<div class="bookings">
    <h3><b>BOOKINGS</b></h3>
    <table class="clear-bg" style="width:100%;">
        {% for i in bookings %}
        <table class="book_tr " style="width:100%;">
            <td style="width: 100px; padding:40px;">
                <img src="{% static 'img/serve.png' %}" class="booking_icon">
            </td>
            <td>
                <table class="clear-bg book-inner">
                    <tr>
                        <td>
                            <h4 class="h4c">{{i.service_id.service_name}}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rate:
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                {{i.booking_status}}
            </td>
            <td class="book_date">
                {{i.booking_date}}
            </td>
            <td>
                <img src="{% static 'img/close.png' %}" class="close_btn" onclick="#">
            </td>
        </table>
            {% endfor %}
    </table>
</div>
{% endblock %}