{% extends "base.html"%}
{% load static from static %}
{% block content %}

<form method="post" action=""> {% csrf_token %}
    <div class="profile" style="display: inline-block;">
        <div class="profilebg"><img src='../static/img/wave.svg'></div>
        <div class="editp" >
            <div>
                <img src="../static/img/superman.jpg" class="dp dp-center" style=" display:flex; margin-bottom: 40px;">
            </div>
            <img src="../static/img/edit.png" class="edit-icon">
        </div>
        <div class="edit-info" style="margin-top: 0;">
            <h4>INFO</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/name.png">
                <input type="text" value="{{user.user_name}}" name="user_name" pattern="[a-zA-Z ]{2,}" 
                required="required">
            </div>
            <div class="edit-info1">
                <img src="../static/img/phone.png">
                <input type="text" value="{{user.user_phone}}" name="user_phone" pattern="[0-9]{10}" 
                required="required">
            </div>
            <div class="edit-info1">
                <img src="../static/img/envelope.png">
                <input type="text" value="{{user.user_email}}" name="user_email" pattern="[a-zA-Z0-9@_.]{2,}"
                required="required">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h4>GENDER</h4>
            <hr>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Male" name="user_gender" value="Male" id="rad-m">
                    <label class="form-check-label" for="rad-m">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Female" name="user_gender" value="Female" id="rad-f">
                    <label class="form-check-label" for="rad-f">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Others" name="user_gender" value="Others" id="rad-o">
                    <label class="form-check-label" for="rad-o">
                        Others
                    </label>
                </div>
            </div>
        </div>
        <div class="edit-info" style="padding-top: 0">
            <h4>ADDRESS</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="{{user.user_area}}" name="user_area" pattern=".{2,100}">
            </div>
            <div class="edit-info1">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="{{user.user_city}}" name="user_city" pattern="[a-zA-Z ]{2,30}">
            </div>
            <div class="edit-info1" style="display: block;">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="{{user.user_pincode}}" name="user_pincode" pattern="[0-9]{6}">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h4>PASSWORD</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="Old password" name="user_old_pass" pattern=".{8,20}" title="Password was 8-20 characters long">
            </div>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="New password" name="" pattern=".{8,20}" title="Password should be 8-20 characters long">
            </div>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="Confirm password" name="user_new_pass" pattern=".{8,20}" title="Password should be 8-20 characters long">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h3></h3>
            <hr>
            <button class="signin-login">SAVE</button>
        </div>


    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById("{{user.user_gender}}").checked = true;
    });
</script>

{% endblock %}