{% extends "base.html"%}
{% load static from static %}
{% block content %}

<form>
    <div class="profile" style="display: inline-block;">
        <div class="profilebg"><img src='../static/img/wave.svg'></div>
        <div class="editp">
            <div>
                <img src="../static/img/superman.jpg" class="dp dp-center" style="display:flex; margin-bottom: 40px;">
            </div>
            <img src="../static/img/edit.png" class="edit-icon">
        </div>
        <div class="edit-info" style="margin-top: 0;">
            <h4>INFO</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/name.png">
                <input type="text" value="CLARK KENT (Kal-El)" name="">
            </div>
            <div class="edit-info1">
                <img src="../static/img/phone.png">
                <input type="text" value="+919876543210" name="">
            </div>
            <div class="edit-info1">
                <img src="../static/img/envelope.png">
                <input type="text" value="clark_kent@meto.co.in" name="">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h4>GENDER</h4>
            <hr>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="rad-m">
                    <label class="form-check-label" for="rad-m">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="rad-f">
                    <label class="form-check-label" for="rad-f">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="rad-o">
                    <label class="form-check-label" for="rad-o">
                        Others
                    </label>
                </div>
            </div>
        </div>
        <div class="edit-info" style="padding-top: 0">
            <h4>ADDRESS</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="Rajabari" name="">
            </div>
            <div class="edit-info1">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="Jorhat" name="">
            </div>
            <div class="edit-info1" style="display: block;">
                <img src="../static/img/mapmarker.png">
                <input type="text" value="785001" name="">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h4>PASSWORD</h4>
            <hr>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="old password" name="">
            </div>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="new password" name="">
            </div>
            <div class="edit-info1">
                <img src="../static/img/lock.png">
                <input type="PASSWORD" placeholder="confirm password" name="">
            </div>
            <div class="clear"></div>
        </div>
        <div class="edit-info">
            <h3></h3>
            <hr>
            <button class="signin-login">SAVE</button>
        </div>


    </div>
</form>

{% endblock %}