{% extends "base.html"%}
{% load static from static %}
{% block content %}
<div id="contents" class="body-bg-fixed">

    <!--LOGIN | SIGNUP -->
    <div class="body">
        <div class="login" style="display: inline-block; align-self: center; "> <!--cardmargin-->
            <table class="clear-bg">
                <tr>
                    <td style="width: 50%">
                        <div class="form-group" id="login">
                            <img src="{% static 'img/favicon.png' %}" style="width: 120px; padding: 0;">
                            <form method="post" action=""> {% csrf_token %}
                                <table class="center clear-bg">
                                    <tr>
                                        <td>
                                            <hr>
                                        </td>
                                        <!--td><hr><div id="my-signin2" style="padding: 20px"></div></td-->
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <input class="form-control form-input" type="text"
                                                   placeholder="&#xf10b;  Number"
                                                   style="font-family: Arial, FontAwesome " name="login_phone"
                                                   pattern="[0-9]{10}" required="required"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="password"
                                                                       placeholder="&#xf023;  Password"
                                                                       style="font-family: Arial, FontAwesome"
                                                                       name="login_pass" required="required"
                                                                       pattern=".{8,20}"
                                                                       title="Password should be 8-20 characters long">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><a class="login-forgot" href="#"
                                                                   onclick="forgot_click()">Forgot your
                                            password?</a></td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <button class="signin-login btn-round">LOG IN</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <hr>
                                            New Here? <a class="login-forgot" href="#" onclick="signupclick()">Sign
                                            UP!</a></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="form-group" id="forgot_password">
                            <img src="{% static 'img/favicon.png' %}" style="width: 120px; padding: 0;">
                            <form method="post" action="/forgotpass/"> {% csrf_token %}
                                <table class="center clear-bg">
                                    <tr>
                                        <td>
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="text"
                                                                       placeholder="&#xf10b;  Regd. Number"
                                                                       style="font-family: Arial, FontAwesome "
                                                                       name="recovery_phone" pattern="[0-9]{10}" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <button class="signin-login" style="width:100%; border-radius:5px;">RESET
                                                PASSWORD
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><a class="login-forgot" href="#"
                                                                   onclick="loginclick()">Lost? Get back to login.</a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <form method="post" action="/signup/"> {% csrf_token %}
                            <div class="form-group" id="signup">
                                <img src="{% static 'img/favicon.png' %}" style="width: 120px; padding: 0;">

                                <table class="center clear-bg">
                                    <tr>
                                        <td>
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <input class="form-control form-input" type="text" placeholder="Name"
                                                   name="new_name" pattern="[a-zA-Z ]{2,}" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="Email"
                                                                       placeholder="Email" name="new_email"
                                                                       pattern="[a-zA-Z0-9@_.]{2,}" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="text"
                                                                       placeholder="Phone" name="new_phone"
                                                                       pattern="[0-9]{10}" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="text"
                                                                       placeholder="Pincode" name="new_pincode"
                                                                       pattern="[0-9]{6}" required="required"></td>
                                    </tr>

                                    <tr>
                                        <td class="login-input">
                                            <button class="signin-login btn-round" onclick="signup_2_click();">NEXT
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <hr>
                                            Already have an account here? <a class="login-forgot" href="#"
                                                                             onclick="loginclick()">Log In!</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div style="display:none" id="signup_2">
                                <table class="center clear-bg">
                                    <tr>
                                        <td class="login-input">
                                            Missed something?<a class="login-forgot" href="#"
                                                                onclick="signup_1_click()"> GO BACK.</a>
                                            <hr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <input class="form-control form-input" type="text" placeholder="Locality"
                                                   name="new_area" pattern="[a-zA-Z ]{2,}" required="required">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <select id="city" name="new_city" required>
                                                <option value="">City</option>
                                                <option value="Jorhat">Jorhat</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <select id="gender" name="new_gender" required>
                                                <option value="">Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="password"
                                                                       placeholder="Password" name=""
                                                                       required="required" pattern=".{8,20}"
                                                                       title="Password should be 8-20 characters long">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input"><input class="form-control form-input" type="password"
                                                                       placeholder="Confirm Password" name="new_pass"
                                                                       required="required"
                                                                       pattern=".{8,20}"
                                                                       title="Password should be 8-20 characters long">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="login-input">
                                            <button class="signin-login btn-round">SIGN UP</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="login-input">
                                            <hr>
                                            Already have an account here? <a class="login-forgot" href="#"
                                                                             onclick="loginclick()">Log In!</a></td>
                                    </tr>
                                </table>

                            </div>
                        </form>
                    </td>
                    <td class="close-div">
                        <!--Carousel Wrapper-->
                        <img src="{% static 'login-picture2.jpg' %}" style="width:100%">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endblock %}