{% extends "base.html"%}
{% load static from static %}
{% block content %}

<div class="body">
    <p align="center" class="header">OUR SERVICES</p>
    <div id="fspace" class="row cardmargin">
        <div class="col-xl">
            <table style="background: transparent;">
                <tr>
                    <td>
                        <div class="card" id='icon'>
                            <img class="card-img-top" src="static/driver.png" alt="Card image cap">
                            <a class="link" href="/book/1">Driver</a>
                        </div>
                    </td>
                    <td>
                        <div class="card" id='icon'>
                            <img class="card-img-top" src="static/electrician.png" alt="Card image cap">
                            <a class="link" href="/book/2">Electrician</a>
                        </div>
                    </td>
                    <td>
                        <div class="card" id='icon'>
                            <img class="card-img-top" src="static/labor.png" alt="Card image cap">
                            <a class="link" href="/book/3">Labour</a>
                        </div>
                    </td>
                    <td>
                        <div class="card" id='icon'>
                            <img class="card-img-top" src="static/maid.png" alt="Card image cap">
                            <a class="link" href="/book/4">Maid</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="card">
                            <img class="card-img-top" src="static/plant.png" alt="Card image cap">
                            <a class="link" href="#">Gardener</a>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img class="card-img-top" src="static/taxi.png" alt="Card image cap">
                            <a class="link" href="#">Taxi</a>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img class="card-img-top" src="static/worker.png" alt="Card image cap">
                            <a class="link" href="#">Mechanic</a>
                        </div>
                    </td>
                    <td>
                        <div class="card" onclick="more_services()">
                            <img class="card-img-top" src="static/more.jpg" alt="Card image cap">
                            <a class="link" href="#">More services...</a>
                        </div>
                    </td>

                </tr>

            </table>

        </div>
        <div class="col-xl">
            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators" style="">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    <li data-target="#carousel-example-2" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="static/edited1.jpg">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="static/edited2.jpg">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="static/edited3.jpg">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="static/edited4.jpg" alt="Third slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>

    <!--/.Carousel Wrapper-->
</div>


<div id='more' data-aos="zoom-in" class="" style="display: inline-block; width: 100%">
    <p align="center" class="header">MORE SERVICES</p>
    <div id="more" class="col1">
        <div class="card">
            <img class="card-img-top" src="static/Beautician.png" alt="Card image cap">
            <a class="link" href="#">Beautician</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/barber.png" alt="Card image cap">
            <a class="link" href="#">Barber</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/photographer.png" alt="Card image cap">
            <a class="link" href="#">Photographer</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/Mehendi.png" alt="Card image cap">
            <a class="link" href="#">Mehendi</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/driver.png" alt="Card image cap">
            <a class="link" href="#">Grocery</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/maid.png" alt="Card image cap">
            <a class="link" href="#">Maid</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/plumber.png" alt="Card image cap">
            <a class="link" href="#">Plumber</a>
        </div>
    </div>
    <div class="col1">
        <div class="card">
            <img class="card-img-top" src="static/taxi.png" alt="Card image cap">
            <a class="link" href="#">Taxi</a>
        </div>
    </div>

</div>


{% endblock %}


