{% extends "admin_base.html"%}
{% load static from static %}
{% block content %}
	<div data-aos="zoom-in" class="" style="display: inline-block; width: 100%">
		<p align="center" class="header">SERVICE BOOKINGS</p>
		<!-- <div>
		<select style="width: 90%">
			<option>1</option>
			<option>2</option>
		</select>
		<button>FILTER</button>
		</div> -->
		<ul style="list-style: none;padding-left: 40px;">
			<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Today
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Tomorrow</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">All upcoming</a>
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a> -->
					</div>
				</li>
		</ul>
		<div id="more" class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/Beautician.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/1">Beautician</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/barber.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/2">Barber</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/photographer.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/3">Photographer</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/Mehendi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/4">Mehendi</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/driver.png' %}" alt="Card image cap">
				<a class="link" href="#">Grocery</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/maid.png' %}" alt="Card image cap">
				<a class="link" href="#">Maid</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/plumber.png' %}" alt="Card image cap">
				<a class="link" href="#">Plumber</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="#">Taxi</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/driver.png' %}" alt="Card image cap">
				<a class="link" href="#">Grocery</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/maid.png' %}" alt="Card image cap">
				<a class="link" href="#">Maid</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/plumber.png' %}" alt="Card image cap">
				<a class="link" href="#">Plumber</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="#">Taxi</a>
				<a class="link" href="#" style="color: red;">REQUESTS: 0</a>
			</div>
		</div>

	</div>

{% endblock %}
