{% extends "admin_base.html"%}
{% load static from static %}
{% block content %}
	<div data-aos="zoom-in" class="" style="display: inline-block; width: 100%">
		<p align="center" class="header">SERVICE BOOKINGS</p>
		<!-- <div>
		<select style="width: 90%">
			<option>1</option>
			<option>2</option>
		</select>
		<button>FILTER</button>
		</div> -->
		<ul style="list-style: none;padding-left: 40px;">
			<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Today
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Tomorrow</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">All upcoming</a>
						<!-- <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a> -->
					</div>
				</li>
		</ul>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/Beautician.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/110">MAID</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.110}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/barber.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/120">DRIVER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.120}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/photographer.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/130">GARDENER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.130}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/Mehendi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/140">MAKE UP</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.140}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/driver.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/150">BOYS HAIR CUT</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.150}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/maid.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/160">GIRLS HAIR CUT</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.160}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/plumber.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/170">SPA</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.170}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/180">MEHENDI</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.180}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/driver.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/190">PHOTOGRAPHER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.190}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/maid.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/200">ORGANIZER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.200}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/plumber.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/210">CATERAR</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.210}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/220">DOCTOR</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.220}}</a>
			</div>
		</div>
		<div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/230">LAWYER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.230}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/240">GROCERY</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.240}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/250">VEGETABLES</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.250}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/260">FRUITS</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.260}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/270">PLUMBER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.270}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/280">ELECTRICIAN</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.280}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/290">MECHANIC</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.290}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/300">PAINTER</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.300}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/310">BIKE</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.310}}</a>
			</div>
		</div><div class="col1">
			<div class="card">
				<img class="card-img-top" src="{% static 'img/taxi.png' %}" alt="Card image cap">
				<a class="link" href="assign_worker/320">TAXI</a>
				<a class="link" href="#" style="color: red;">REQUESTS: {{count.320}}</a>
			</div>
		</div>

	</div>

{% endblock %}
