{% extends "admin_base.html"%}
{% load static from static %}
{% block content %}
<div class="bk_body">
    <div class="bk_col1">
        <table class="assign-worker-booking">
            <form>
                <tr>
                    <td style="border-bottom: 2px solid white">
                        <h3>BOOKINGS</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left;">
                        <label style=" padding-top:20px">Sort By:</label>
                        <select id="sort_by">
                            <option>select</option>
                            <option value="Ascending">Ascending</option>
                            <option value="Descending">Descending</option>
                        </select>
                    </td>
                </tr>
                <tbody class="assign-book-scroll">
                {% for i in bookings %}
                <tr onclick="fill_info('{{i.booking_area}}','{{i.booking_city}}',{{i.booking_phone}},{{i.booking_pincode}},
                        '{{i.user_id.user_name}}', '{{i.booking_desc}}',{{i.booking_id}});">
                    <td>
                        <table class="assign-worker-booking-inner">
                            <tr>
                                <td style="width: 100px; padding:40px;">
                                    <img src="{% static 'img/serve.png' %}" class="booking_icon"
                                         style="margin:10px 30px;">
                                </td>
                                <td>
                                    <table class="clear-bg">
                                        <tr style="border-bottom:1px solid lightgrey">
                                            <td><b><h5>
                                                <label>ID:</label>
                                                {{i.booking_id}}
                                            </h5></B></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{i.booking_date}}
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </form>
        </table>
    </div>
    <div class="bk_col2">
        <table>
            <tr>
                <td style="border-bottom:2px solid white; text-align:center;">
                    <form id="book_id" method="POST">{% csrf_token %}
                    <h3>
                        DETAILS <label id="header_mid_info" style="margin:0"></label><label id="header_id" style="margin:0"></label>
                    </h3>
                        </form>
                </td>
            </tr>
            <tr><td>
            <table class="assign-worker-info">
                <tr>
                    <td  style="width:15%">
                        <b>Area :</b>
                    </td>
                    <td colspan="3">
                        <label id="area_info"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:15%">
                        <b>City :</b>
                    </td>
                    <td>
                        <label id="city_info"></label>
                    </td>
                    <td style="width:15%">
                        <b>Pincode :</b>
                    </td>
                    <td>
                        <label id="pincode_info"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Name :</b>
                    </td>
                    <td>
                        <label id="name_info"></label>

                    </td>
                    <td>
                        <b>Phone :</b>
                    </td>
                    <td>
                        <label id="phone_info"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:15%">
                        <b>Description :</b>
                    </td>
                    <td colspan="3">
                        <label id="desc_info"></label>
                    </td>
                </tr>
            </table>
            </td></tr>
            <tr><td><hr style="background:white; margin:0; height:2px;"></td></tr>
            <tr>
                <td>
                    <table class="assign-worker-workers" style="background:white">
                        <thead>
                        <th style="width:5%">ID</th>
                        <th style="width:20%">Name</th>
                        <th style="width:20%">Phone</th>
                        <th style="width:10%">Assigned #</th>
                        <th style="width:10%">Select date:</th>
                        <th style="width:10%">  </th>
                        </thead>
                        <tbody class="assign-worker-scroll">
                        {% for i in workers %}
                        <tr>
                            <td>
                                {{i.0.worker_id}}
                            </td>
                            <td>
                                {{i.0.worker_name}}
                            </td>
                            <td>
                                {{i.0.worker_phone}}
                            </td>
                            <td>
                                {{i.1}}
                            </td>
                            <td>
                                <input type="date" id="visiting_date{{i.0.worker_id}}">
                            </td>
                            <td>
                                <button class="assign-btn" onclick="assign({{i.0.worker_id}})">Assign</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <form style="display:none" id="info_form" method="post" action="">{% csrf_token %}
            <input type="text" id="book_id_form" name="book_id_form">
            <input type="text" id="work_id_form" name="work_id_form">
            <input type="text" id="visiting_date_form" name="visiting_date_form">
        </form>
    </div>
</div>


{% endblock %}